name: Build Extension

on:
  push:
    paths:
      - 'PremiumStream/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew make

      - name: Upload .cs3
        uses: actions/upload-artifact@v4
        with:
          name: PremiumStream.cs3
          path: PremiumStream/PremiumStream.cs3
